.history {
  display: flex;

  width: 100%;
  height: 96vh;


  .controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--accent-1);
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: space-evenly;

    .btn:hover .emph {
      color: white;
    }
  }

  .event-list {
    max-height: 92vh;
    overflow-y: auto;
    width: 75vw;
    border-right: 1px solid var(--accent-1);

    .event-list-item:nth-child(even) {
      background-color: #181818;
    }

    .event-list-item {
      display: flex;
      justify-content: space-between;
      padding: 4px;
      padding-inline: 5px;
      transition: 0.3s;


      &:hover {
        cursor: pointer;
        font-size: 1.4em;
        background-color: var(--accent-1);
        box-shadow: var(--shadow);
      }

      &:focus {
        cursor: pointer;
        font-size: 1.4em;
        background-color: var(--accent-1);
        box-shadow: var(--shadow);
      }

    }
  }
}

.information-panel {
  width: 25vw;
  max-height: inherit;
  overflow-y: auto;
  border-left: 1px solid var(--accent-1);

  .event-data {
    padding: 10px;
    height: 50%;
    max-height: 50%;
    border-bottom: 1px solid var(--accent-1);
    overflow-y: auto;

  }


  .current-system {

    .item {
      padding-inline: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      display: flex;
      justify-content: space-between;
      border-bottom: var(--accent-1) dotted 1px;
    }
  }
}
