:root {
  --background-color: rgb(16, 16, 16);
  --accent-1: #ff8800;
  --text-color: white;
  --shadow: 0px 0px 5px 1px var(--accent-1)
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: sans-serif;
}

.view-wrapper {
  height: 96vh;
  max-height: 96vh;
  overflow-y: auto;
}
@import url("./history.scss");
@import url("./nav.scss");
@import url("./input.scss");
@import url("./settings.scss");
@import url("./text.scss");
@import url("./detailedSystemInfo.scss");